@{
    ViewBag.Title = "About";
}
<h2 class="page-title">@ViewBag.Title</h2>
<div>
    <p><strong>BikeTrips</strong> is a place for bike enthusiasts to meet associates, communicate, organize events together, find events nearby, and share their love for biking.</p>
    <p>Everyone can find the upcoming events on our @Html.ActionLink("home page","index", "home"). You can search either by location, name of the event or name of the author. In the event page, you can find more information about the chosen event, like the type of the event (whether it is best for road bikes, cross-country or donwhill), planned distance and denivelation, as well as some additional information the author considers important.</p>
    <p>If you register, you will be able to create events and tell your friends about the events you plan to participate in. You will also be able to discuss the upcoming events or just chat with other people.</p>
</div>
