@model IEnumerable<BikeTrips.Web.ViewModels.TripModels.TripViewModel>

@{
    ViewBag.Title = "Coming trips";
}

<div class="jumbotron">
    <h1>Bike Trips</h1>
</div>

<div class="row">
    @if (Model.Count() > 0)
    {
        foreach (var trip in Model)
        {
            <div class="col-md-4">
                <h3>@trip.TripName</h3>
                <p>Created by: @trip.User</p>
            </div>
        }
    }
    else
    {
        <div id="no-events-text" class="col-md-4">
            <p>No coming events</p>
        </div>
    }

</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Create trip", "../Trip/Create", null, new { @class = "btn btn-info" , @role="button"})
        </div>
    </div>
}
