@model IEnumerable<BikeTrips.Web.ViewModels.TripModels.TripViewModel>

@{
    ViewBag.Title = "Coming trips";
}

<div class="jumbotron">
    <h1 class="page-title">Bike Trips</h1>
</div>
<div>
    @using (Ajax.BeginForm(actionName: "Search", controllerName: "Home", routeValues: new { },
                ajaxOptions: new AjaxOptions
                {
                    UpdateTargetId = "trips",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST"
                }, htmlAttributes: new { id = "searchForm" }))
    {
        <div class="text-medium">
            Search
            <input type="text" name="searchString" oninput="changed()" />
        </div>
    }
</div>

<div class="row">
    <div id="trips">
        @Html.Partial("_TripsResults", Model)
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Create trip", "../Trip/Create", null, new { @class = "btn btn-info", @role = "button" })
        </div>
    </div>
}

@Scripts.Render("~/Scripts/Custom/searchOnChange.js")
