@using BikeTrips.Web.ViewModels.TripModels
@model FullTripViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ParticipantsPartial</title>

</head>
<body>
    <button id="myBtn" class="btn btn-info">View participants</button>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4 class="page-title">Participants in @Model.TripName</h4>
            <ul>
                @foreach (var user in Model.Participants)
                {
                    <li>@user.UserName</li>
                }
            </ul>
        </div>
    </div>
    @Scripts.Render("~/Scripts/Custom/listInModal.js")
</body>
</html>
