@*@using BikeTrips.Web.ViewModels.CommentModels
@model ICollection<CreateCommentViewModel>

<ul class="text-medium">
    Comments:
    @foreach (var comment in Model.Comments)
    {
        <li>
            <h5>Name: @comment.Author.Name</h5>
            <div>@comment.Content</div>
        </li>
    }
</ul>*@

