body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#no-events-text {
    font-size: 30px;
}

.jumbotron {
    background-color: #4CBB17;
    text-align: center;
}

.trip-container {
    border: 1px solid #4CBB17;
    background-color: #4CBB17;
    color: #ffffff;
    font-size: 1.3em;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    margin-left: 10px;
    width: 32%;
}

.trip-title {
    color: #ffffff;
    font-size: 2em;
}

/*Crete trip btn*/
body > div.container.body-content > div:nth-child(3) > div > a {
    font-size: 2em;
    background-color: #4CBB17;
}