@font-face {
    font-family: 'round-regular';
    src: url('fonts/round-regular.ttf') format('truetype');
}

body {
    background-image: url('images/background.jpg');
    font-family: round-regular;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#no-events-text {
    font-size: 30px;
}

.jumbotron {
    color: #2C5197;
    text-align: center;
    background-color: transparent;
}


.page-title {
    font-family: round-regular;
}

.trip-title {
    color: #2C5197;
    font-size: 1.5em;
}

/*Crete trip btn
.create-trip-btn {
    font-size: 1.5em;
}*/

.text-medium {
    font-size: 1.3em;
}

.text-large {
    font-size: 1.8em;
}

ul {
    list-style-image: url('images/bike.png');
}

#trips-table {
    width: 100%;
    margin-bottom: 10px;
}

.trips-row {
    padding: 5px;
    border-bottom: 2px solid #2C5197;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.information-container{
    width: 30%;
    float: left;
}

.chat-container {
    width: 60%;
    float: right;
}

.chat-preview-container {
    border: 2px solid #2C5197;
    border-radius: 5px;
    overflow-y: scroll;
    height: 300px;
    background-color: rgba(255,255,255,0.5);
    margin-top: 20px;
}

textarea {
    resize:none;
}

.current-user {
    color: #C21807;
}

.other-user{
    color: #2C5197;
}

.my-custom-button {
    margin: 5px;
}

.is-deleted {
    color: #C21807;
}
.is-not-deleted {
    color: #2C5197;
}

.admin-trip-title {
    color: inherit;
}

.table-container {
    width: 100%;
    font-size: 120%;
}

.table-head {
    color: #2C5197;
    font-size: 120%;
    align-self: center;
}

.custom-table {
    border: 1px solid black;
    margin: 5px;
    align-self: center;
}

.btn-vertical {
    float: left;
}

.custom-col {
    border: 1px solid black;
    width: 10%;
    line-height: 20px;
    text-align: center;
    padding: 10px;
}
.information-container-div{
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    float: left;
    margin-right: 3px;
    padding: 3px;
}
.participants-container-div {
    border: 1px solid black;
    border-radius: 5px;
    width: 33%;
    display: inline-block;
    overflow-y: scroll;
}

.participants-container {
    white-space: nowrap;
    display: inline-block;
}

.comments-container-div {
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    display: inline-block;
    overflow-y: scroll;
    position: absolute;
    margin-left: 3px;
}
