@font-face {
    font-family: 'round-regular';
    src: url('fonts/round-regular.ttf') format('truetype');
}

body {
    background-image: url('Images/457661.jpg');
    
    font-family: round-regular;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#no-events-text {
    font-size: 30px;
}

.jumbotron {
    color: #2C5197;
    text-align: center;
    background-color: transparent;
}

.trip-container {
    border: 1px solid #022a50;
    font-size: 1.3em;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    margin-left: 10px;
    width: 32%;
}
.page-title{
    font-family:round-regular;
}

.trip-title {
    color: #2C5197;
    font-size: 2em;
}

/*Crete trip btn*/
body > div.container.body-content > div:nth-child(3) > div > a {
    font-size: 1.5em;
}

.enlarge-text{
    font-size: 1.5em;
}